@page "/cadastroagente"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using IA.TesteAgente.Data
@using IA.TesteAgente.Model
@using IA.TesteAgente.Servico
@using Service.IA.Enum

@inject IDbContextFactory<dbContext> DbFactory
@inject IServiceProvider _serviceProvider

<h3>Cadastro Agente</h3>

<div class="row">
    <div class="col-6">

        <table id="virtualized-table" class="col-12">
            <thead style="position: sticky; top: 0; background-color: silver">
                <tr>
                    <th class="col-2">Nome</th>
                    <th class="col-3">Descrição</th>
                    <th class="col-3">Modelo</th>
                    <th class="col-2">Referencia</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="ListAgente" ItemSize="10" SpacerElement="tr">
                    <tr @key="context.id" style="height: 30px;" id="row-@context.id">
                        <td class="col-2">@context.Nome</td>
                        <td class="col-3">@context.Descricao</td>
                        <td class="col-3">@ListModeloAll?.Where(a => a.id == context.idModeloLLM).FirstOrDefault()?.Modelo </td>
                        <td class="col-2">@context.Referencia</td>
                        <td class="col-2">
                            <button @onclick="@(() => EditaModelo(context.id))">Editar</button> &ensp;&ensp;
                            <button @onclick="@(() => RemoveModelos(context.id))">Remover</button>
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>

    </div>

    <div class="col-6">

        <EditForm Model="Agente" OnValidSubmit="Cadastro" FormName="CadastroAgente">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-12">
                Provedor:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.idProvedor" @onblur="SetProvedor">
                    <option value="">Selecione um provedor</option>

                    @foreach (var provedor in ListProvedor)
                    {
                        <option value="@provedor.id">@Enum.GetName(provedor.ServicoProvedor) - @provedor.Descicao</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                Modelo:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.idModeloLLM">
                    <option value="">Selecione um Modelo</option>

                    @foreach (var modelo in ListModelo)
                    {
                        <option value="@modelo.id">@modelo.Modelo</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                Nome:
                <InputText class="form-control" @bind-Value="Agente.Nome" />
                <ValidationMessage For="@(() => Agente.Nome)" />
            </div>

            <div class="mb-12">
                Descrição:
                <InputText class="form-control" @bind-Value="Agente.Descricao" />
                <ValidationMessage For="@(() => Agente.Descricao)" />
            </div>

            <div class="mb-12">
                Instruções:<a @onclick="MelhoraPrompt" >Melhorar</a>
                <InputTextArea rows="5" class="form-control" @bind-Value="Agente.Instrucoes" />
                <ValidationMessage For="@(() => Agente.Instrucoes)" />
            </div>

            <div class="mb-12">
                GuardRail Entrada:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.GuardRailEntrada">
                    <option value="">Selecione um GuardRail Entrada</option>

                    @foreach (var modelo in ListFerramentas)
                    {
                        <option value="@modelo.id">@modelo.Nome</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                Agente GuardRail Entrada:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.idModeloLLM">
                    <option value="">Selecione um Agente GuardRail Entrada</option>

                    @foreach (var modelo in ListAgente)
                    {
                        <option value="@modelo.id">@modelo.Nome</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                GuardRail Saida:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.GuardRailSaida">
                    <option value="">Selecione um GuardRail Saida</option>

                    @foreach (var modelo in ListFerramentas)
                    {
                        <option value="@modelo.id">@modelo.Nome</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                Agente GuardRail Saida:
                <InputSelect class="form-control mb-12" @bind-Value="Agente.idAgenteGuardRailSaida">
                    <option value="">Selecione um Agente GuardRail Saida</option>

                    @foreach (var modelo in ListAgente)
                    {
                        <option value="@modelo.id">@modelo.Nome</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Agente.idProvedor)" />
            </div>

            <div class="mb-12">
                Tipo Saida:
                <InputText class="form-control" @bind-Value="Agente.TipoSaida" />
                <ValidationMessage For="@(() => Agente.TipoSaida)" />
            </div>

            <div class="mb-12">
                Referencia:
                <InputText class="form-control" @bind-Value="Agente.Referencia" />
                <ValidationMessage For="@(() => Agente.Referencia)" />
            </div>

            <div class="mb-12">
                <InputCheckbox @bind-Value="Agente.Memoria" /> Memoria
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
            </div>
        </EditForm>

    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public AgenteIA Agente { get; set; } = new();
    public List<AgenteIA> ListAgente { get; set; } = new();
    public List<Provedor> ListProvedor { get; set; } = new();
    public List<ModeloLLM> ListModelo { get; set; } = new();
    public List<ModeloLLM> ListModeloAll { get; set; } = new();
    public List<Ferramentas> ListFerramentas { get; set; } = new();
    public bool Novo { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        ListAgente = await context.AgenteIA.ToListAsync();
        ListProvedor = await context.Provedor.ToListAsync();
        ListFerramentas = await context.Ferramentas.Where(s => s.TipoFerramenta == EnumTipoFerramenta.GuardRail).ToListAsync();
        ListModeloAll = context.ModeloLLM.ToList();
    }

    private async Task Cadastro(EditContext args)
    {
        using var context = await DbFactory.CreateDbContextAsync();

        if (Novo)
        {
            context.AgenteIA.Add(Agente);
        }
        else
        {
            context.AgenteIA.Update(Agente);
        }
        await context.SaveChangesAsync();
        ListAgente = await context.AgenteIA.ToListAsync();

        Agente = new();
        Novo = true;
    }

    public void SetProvedor()
    {
        using var context = DbFactory.CreateDbContext();
        ListModelo = ListModeloAll.Where(a => a.IdProvedor == Agente.idProvedor).ToList();
    }

    private void Cancelar()
    {
        Agente = new AgenteIA();
        Novo = true;
    }

    private void EditaModelo(string id)
    {
        Agente = ListAgente.First(a => a.id == id);
        Novo = false;
    }

    private async Task RemoveModelos(string id)
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var modeloRemove = await context.AgenteIA.FirstAsync(a => a.id == id);
        context.AgenteIA.Remove(modeloRemove);
        await context.SaveChangesAsync();
        ListAgente = await context.AgenteIA.ToListAsync();
    }

    private async Task MelhoraPrompt()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var AgenteMelhora = await context.AgenteIA.Where(a => a.Referencia == "MelhoraPrompt").FirstAsync();

        var ModentaAgente = new MonteAgente(DbFactory, _serviceProvider);
        await ModentaAgente.SetAgente(AgenteMelhora.id);

        var v = await ModentaAgente.Agente.RunAsync<string>(Agente.Instrucoes);

        Agente.Instrucoes = v.Result;
    }
}
