@page "/cadastroRAG"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using IA.TesteAgente.Components.Pages.Componente
@using IA.TesteAgente.Model
@using Microsoft.EntityFrameworkCore
@using IA.TesteAgente.Data
@using IA.TesteAgente.Servico

@inject IDbContextFactory<dbContext> DbFactory
@inject IServiceProvider _serviceProvider

<Aguardando Aguarde="@Aguarde"></Aguardando>
<h3>Cadastro RAG</h3>

<div class="row">
    <div class="col-6">

        <table id="virtualized-table" class="col-12">
            <thead style="position: sticky; top: 0; background-color: silver">
                <tr>
                    <th class="col-4">Produto</th>
                    <th class="col-5">Capítulo/Seção</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="ListRags" ItemSize="10" SpacerElement="tr">
                    <tr @key="context.id" style="height: 30px;" id="row-@context.id">
                        <td class="col-4">@context.Produto</td>
                        <td class="col-5">@context.CapituloSecao</td>
                        <td class="col-2">
                            <button @onclick="@(() => EditaModelo(context.id))">Editar</button> &ensp;&ensp;
                            <button @onclick="@(() => RemoveModelos(context.id))">Remover</button>
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>

    </div>

    <div class="col-6">

        @if (Novo)
        {
            <div class="mb-12">
                Produto:
                <input type="text" class="form-control" @bind="Produto" @bind:event="oninput" />
            </div>

            <div class="mb-12">
                Texto (Manual)
                <textarea @bind="Texto" rows="15" class="form-control" @bind:event="oninput"></textarea>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" @onclick="PreparaRag">Prepara Rag</button>
            </div>

            @foreach (var item in RagTexto)
            {
                <div class="mb-12">
                    <InputTextArea rows="5" class="form-control" @bind-Value="item.Texto" @bind-Value:event="oninput" />
                </div>
            }

            <div>
                <button type="submit" class="btn btn-primary" @onclick="Cadastrar">Cadastrar</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
            </div>
        }
        else
        {
            <EditForm Model="Rag" OnValidSubmit="EditCadastro" FormName="CadastroRAG">
            <DataAnnotationsValidator />
            <ValidationSummary />

                <div class="mb-12">
                    Produto:
                    <InputText class="form-control" @bind-Value="Rag.Produto" />
                    <ValidationMessage For="@(() => Rag.Produto)" />
                </div>

                <div class="mb-12">
                    Capitulo / Seção:
                    <InputText class="form-control" @bind-Value="Rag.CapituloSecao" />
                    <ValidationMessage For="@(() => Rag.CapituloSecao)" />
                </div>

                <div class="mb-12">
                    Texto:
                    <InputTextArea rows="5" class="form-control" @bind-Value="Rag.Texto" />
                    <ValidationMessage For="@(() => Rag.Texto)" />
                </div>

                <div class="mb-12">
                    Palavra Chave:
                    <InputTextArea rows="3" class="form-control" @bind-Value="PalavrasChaveTexto" />
                    <ValidationMessage For="@(() => Rag.PalavrasChave)" />
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
                </div>
            </EditForm>
        }

    </div>
</div>

@code {
    public Rags Rag { get; set; } = new();
    public List<Rags> ListRags { get; set; } = new();
    public string Texto { get; set; } = "";
    public string Produto { get; set; } = "";
    public List<Rags> RagTexto { get; set; } = new();
    public bool Aguarde { get; set; } = false;
    public bool Novo { get; set; } = true;

    // Propriedade auxiliar para converter entre string e string[]
    private string PalavrasChaveTexto
    {
        get => Rag.PalavrasChave != null ? string.Join(", ", Rag.PalavrasChave) : string.Empty;
        set => Rag.PalavrasChave = value?.Split(',', StringSplitOptions.RemoveEmptyEntries)
                                         .Select(s => s.Trim())
                                         .ToArray() ?? Array.Empty<string>();
    }

    protected override async Task OnInitializedAsync()
    {
        Aguarde = true;
        using var context = await DbFactory.CreateDbContextAsync();
        ListRags = await context.Rags.ToListAsync();
        Aguarde = false;
    }

    async Task PreparaRag()
    {
        Aguarde = true;
        using var context = await DbFactory.CreateDbContextAsync();
        var AgenteMelhora = await context.AgenteIA.Where(a => a.Referencia == "PreparaRag").FirstAsync();

        var ModentaAgente = new MonteAgente(DbFactory, _serviceProvider);
        await ModentaAgente.SetAgente(AgenteMelhora.id);

        var v = await ModentaAgente.Agente.RunAsync<List<DetalhesRag>>(Texto);

        foreach (var item in v.Result)
        {
            RagTexto.Add(new Rags()
            {
                Produto = Produto,
                Paragrafo = item.id_fragmento,
                CapituloSecao = item.metadados.capitulo_secao,
                PalavrasChave = item.metadados.palavras_chave,
                Texto = item.conteudo_para_vetorizacao
            });
        }
        Aguarde = false;
    }

    async Task Cadastrar()
    {
        Aguarde = true;
        using var context = await DbFactory.CreateDbContextAsync();
        var AgenteEmbedding = await context.AgenteIA.Where(a => a.Referencia == "Embedding").FirstAsync();

        var ModentaAgente = new MonteAgente(DbFactory, _serviceProvider);
        await ModentaAgente.SetAgente(AgenteEmbedding.id);

        foreach (var item in RagTexto)
        {
            try
            {
                var Resp = ModentaAgente.embeddingClient?.GenerateEmbedding(item.Texto);
                item.EmbeddingTexto = new Pgvector.Vector(Resp?.Value.ToFloats().ToArray());

                Resp = ModentaAgente.embeddingClient?.GenerateEmbedding(string.Join(", ", item.PalavrasChave ?? Array.Empty<string>()));
                item.EmbeddingPalavrasChave = new Pgvector.Vector(Resp?.Value.ToFloats().ToArray());

            } 
            catch (TaskCanceledException ex)
            {
                var a = ex.Message;
            }

            item.Produto = Produto;
            item.idAgente = AgenteEmbedding.id;
            item.idModeloLLM = AgenteEmbedding.idModeloLLM;

            try
            {
                context.Rags.Add(item);
                await context.SaveChangesAsync();
            } catch (DbUpdateException ex)
            {
                var a = ex.Message;
            }

            ListRags = await context.Rags.ToListAsync();
        }
        Aguarde = false;
    }

    async Task EditCadastro()
    {
        Aguarde = true;
        using var context = await DbFactory.CreateDbContextAsync();
        var AgenteEmbedding = await context.AgenteIA.Where(a => a.Referencia == "Embedding").FirstAsync();

        var ModentaAgente = new MonteAgente(DbFactory, _serviceProvider);
        await ModentaAgente.SetAgente(AgenteEmbedding.id);

        var Resp = ModentaAgente.embeddingClient?.GenerateEmbedding(Rag.Texto);
        Rag.EmbeddingTexto = new Pgvector.Vector(Resp?.Value.ToFloats().ToArray());

        Resp = ModentaAgente.embeddingClient?.GenerateEmbedding(string.Join(", ", Rag.PalavrasChave ?? Array.Empty<string>()));
        Rag.EmbeddingPalavrasChave = new Pgvector.Vector(Resp?.Value.ToFloats().ToArray());

        try
        {
            context.Rags.Update(Rag);
            await context.SaveChangesAsync();
        } catch (DbUpdateException ex)
        {
            var a = ex.Message;
        }

        ListRags = await context.Rags.ToListAsync();
        Novo = true;
        Rag = new();
        Aguarde = false;
    }

    private void EditaModelo(string id) {
        Rag = ListRags.Where(a => a.id == id).FirstOrDefault();
        Novo = false;
    }
    
    private async Task RemoveModelos(string id)
    {
        Aguarde = true;
        using var context = await DbFactory.CreateDbContextAsync();
        var modeloRemove = await context.Rags.FirstAsync(a => a.id == id);
        context.Rags.Remove(modeloRemove);
        await context.SaveChangesAsync();
        ListRags = await context.Rags.ToListAsync();
        Aguarde = false;
    }

    private void Cancelar()
    {
        Rag = new Rags();
        Novo = true;
    }
}
