@page "/cadastromodelo"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using IA.TesteAgente.Data
@using IA.TesteAgente.Model
@using Service.IA.Provedor.Base
@using Service.IA.Enum

@inject IDbContextFactory<dbContext> DbFactory
@inject IServiceProvider _serviceProvider

<h3>Cadastro Modelo</h3>

<div class="row">
    <div class="col-6">

        <div class="row">

            <div class="col-8">
                Provedor:
                <InputSelect class="form-control mb-12" @bind-Value="@idProvedor" @onchange="@((a) => SetIdProvedor(a))">
                    <option value="">Selecione um provedor</option>
                    @foreach (var tipo in LstProvedor)
                    {
                        <option value="@tipo.id">@tipo.Descicao</option>
                    }
                </InputSelect>
            </div>
            <div class="col-4">
                <button @onclick="BuscaModeloPadrao">Buscar Modelo</button>
            </div>
        </div>

        <div class="row">
            <table id="virtualized-table" class="col-12">
                <thead style="position: sticky; top: 0; background-color: silver">
                    <tr>
                        <th class="col-4">Descrição</th>
                        <th class="col-4">Provedor</th>
                        <th class="col-4"></th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="LstModelo" ItemSize="10" SpacerElement="tr">
                        <tr @key="context.id" style="height: 30px;" id="row-@context.id">
                            <td class="col-4">@context.Modelo</td>
                            <td class="col-4">@LstProvedor.FirstOrDefault(f => f.id == context.IdProvedor)?.Descicao</td>
                            <td class="col-4">
                                <button @onclick="@(() => EditaModelo(context.id))">Editar</button> &ensp;&ensp;
                                <button @onclick="@(() => RemoveModelos(context.id))">Remover</button>
                            </td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-6">

        <EditForm Model="Modelo" OnValidSubmit="Cadastro" FormName="CadastroModelo">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-12">
                Provedor:
                <InputSelect class="form-control mb-12" @bind-Value="Modelo.IdProvedor">
                    @foreach (var tipo in LstProvedor)
                    {
                        <option value="@tipo.id">@tipo.Descicao</option>
                    }
                </InputSelect>

                <ValidationMessage For="@(() => Modelo.IdProvedor)" />
            </div>

            <div class="mb-12">
                Modelo:
                <InputText class="form-control" @bind-Value="Modelo.Modelo" />
                <ValidationMessage For="@(() => Modelo.Modelo)" />
            </div>

            <div class="mb-12">
                Descrição:
                <InputText class="form-control" @bind-Value="Modelo.Descricao" />
                <ValidationMessage For="@(() => Modelo.Descricao)" />
            </div>

            <div class="mb-12">
                Tipo Modelo:
                <InputSelect class="form-control" @bind-Value="Modelo.TipoModelo">
                    @foreach (var tipo in Enum.GetValues<EnumTipoModelo>())
                    {
                        <option value="@tipo">@tipo</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Modelo.TipoModelo)" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
            </div>
        </EditForm>

    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public ModeloLLM Modelo { get; set; } = new();
    public List<ModeloLLM> LstModelo { get; set; } = new();
    public List<Provedor> LstProvedor { get; set; } = new();
    public bool Novo { get; set; } = true;
    public string idProvedor { get; set; }

    protected override void OnInitialized()
    {
        BuscaProvedor();
        BuscaModelo();
    }

    public void BuscaProvedor()
    {
        using var context = DbFactory.CreateDbContext();
        LstProvedor = context.Provedor.ToList();
    }
    public void BuscaModelo()
    {
        using var context = DbFactory.CreateDbContext();
        LstModelo = context.ModeloLLM.ToList();
    }

    public void EditaModelo(string id)
    {
        Modelo = LstModelo.First(a => a.id == id);
        Novo = false;
    }

    void SetIdProvedor(ChangeEventArgs a) => idProvedor = a.Value.ToString();

    void RemoveModelos(string IdModelo)
    {
        using var context = DbFactory.CreateDbContext();
        var modelo = LstModelo.First(a => a.id == IdModelo);
        context.Remove(modelo);
        context.SaveChanges();
        BuscaModelo();
    }

    public async Task BuscaModeloPadrao()
    {
        var Model = LstProvedor.FirstOrDefault(f => f.id == idProvedor);
        using var context = DbFactory.CreateDbContext();
        context.RemoveRange(LstModelo.Where(a => a.IdProvedor == idProvedor));
        context.SaveChanges();

        var provedor = _serviceProvider.GetRequiredKeyedService<IProvedorBase>(Model.ServicoProvedor);

        provedor.UrlPadrao = Model.Url;
        provedor.TagKey = Model.TagKey;
        provedor.SetProvedor(Model.Url, new Tuple<string, string>(Model.TagKey, Model.ApiKey), Model.TimeoutMinutes);
        Novo = true;

        foreach (var item in await provedor.ModeloPadrao())
        {
            Modelo = new()
            {
                Modelo = item.Modelo,
                Descricao = item.Descricao,
                IdProvedor = idProvedor,
                TipoModelo = item.TipoModelo,
                Quantizacao = item.Quantizacao,
                ServicoProvedor = Model.ServicoProvedor
            };

            Cadastro();
        }
    }

    void Cadastro()
    {
        var Model = LstProvedor.FirstOrDefault(f => f.id == idProvedor);
        Modelo.ServicoProvedor = Model.ServicoProvedor;

        using var context = DbFactory.CreateDbContext();
        if (Novo)
        {
            context.ModeloLLM.Add(Modelo);
        }
        else
        {
            context.ModeloLLM.Update(Modelo);
        }
        context.SaveChanges();
        Modelo = new();
        BuscaModelo();
    }

    private void Cancelar()
    {
        Modelo = new();
        Novo = true;
    }
}
